<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml">
	
<head profile="http://gmpg.org/xfn/11">
	
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>GradeBook!</title>
		
		<link rel="stylesheet" href="master.css" type="text/css" media="screen" />
		
	</head>
	
	
	
	<body>
		
		<div id="header">
			
		
		<ul>
		<li><a href="Overview.html" class="active">Overview</a></li>
		</ul>	
		
		</div>
		
		<div id="content">
			
			<div id="content-header">
			
			<h2>Stats about your classes as a whole</h2>	
				
			</div>
			
				<div class="spaceTable">
				<div id="classes">
				
					<h2 class="tableLabel">Classes</h2>
					<table id="table">
					<thead>
						<tr>
							<th align="left">Class Number</th>
							<th align="left">Class Description</th>
							<th align="left">Grade</th>
						</tr>
					</thead>
					<tbody>
						
						<tr>
							<td>DS-101-03</td>
							<td>Dynamic Systems 1</td>
							<td>96.6%</td>
						</tr>
						<tr>
							<td>DS-101-03</td>
							<td>Dynamic Systems 1</td>
							<td>83.3%</td>
						</tr>
						<tr>	
							<td>DS-101-03</td>
							<td>Dynamic Systems 1</td>
							<td>90%</td>
						</tr>	
						<tr>
							<td>DS-101-03</td>
							<td>Dynamic Systems 1</td>
							<td>45%</td>
						</tr>
					</tbody>	
					</table>
				</div>
				<div id="recent">
						<h2 class="tableLabel">Recent Graded Assignments</h2>
					<table id="table-b">
					<thead>
						<tr>
							<th>Class Number</th>
							<th>Assignment</th>
							<th>Grade</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>DS-101-03</td>
							<td>Drawing Shapes</td>
							<td>103/120</td>
						</tr>
						<tr>
							<td>DS-101-03</td>
							<td>Coloring Shapes</td>
							<td>20/20</td>
						</tr>
						<tr>	
							<td>DS-101-03</td>
							<td>3D Shapes</td>
							<td>170/200</td>
						</tr>	
						<tr>
							<td>DS-101-03</td>
							<td>More than one shape</td>
							<td>22/30</td>
						</tr>
					</tbody>	
					</table>
				</div>
				<div id="upcomingAssign">
				
					<h2 class="tableLabel">Upcoming Assignments</h2>
					<table id="table-b">
					<thead>
						<tr>
							<th>Class Number</th>
							<th>Assignment</th>
							<th>Grade</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>DS-101-03</td>
							<td>Drawing Shapes</td>
							<td>7/27/2009 4:13pm</td>
						</tr>
						<tr>
							<td>DS-101-03</td>
							<td>Coloring Shapes</td>
							<td>7/27/2009 5:30pm</td>
						</tr>
						<tr>	
							<td>DS-101-03</td>
							<td>3D Shapes</td>
							<td>7/28/2009 8:00pm</td>
						</tr>	
						<tr>
							<td>DS-101-03</td>
							<td>More than one shape</td>
							<td>7/29/2009 12:00am</td>
						</tr>
					</tbody>	
					</table>
				</div>
					
				</div>
						
		</div>
		
		<div id="quick-facts-container">
			<h1>Quick Facts:</h1>			
			<div id="quick-facts">
			
			<ul>	
			<li>Students: 75</li>
			<li>Classes: 3</li>
			<li>Average Grade: 85%</li>
			<li>High Grade: 99%</li>
			<li>Low Grade: 26%</li>
			<li>Standard Deviation: 5</li>
			<li>Average Missed Days: 2</li>
			</ul>
			
			</div>
			
		</div>
	</body>
</html>
