<fieldset>
	
<legend>[form_action_title] Student</legend>

<form id="StudentInput" name="StudentInput" action="" method="post">
<input type="hidden" name="action" value="[form_action]_student" />
<div class="row">
	<span class="label">Student ID</span>
	<span class="formw"><input type="text" name="StudentID" value="[stud_id]" size="15" class="form" /></span>
</div>
<div class="row">
	<span class="label">First Name</span>
	<span class="formw"><input type="text" name="StudentFirst" value="[first_name]" size="20" class="form" /></span>
</div>
<div class="row">
	<span class="label">Last Name</span>
	<span class="formw"><input type="text" name="StudentLast" value="[last_name]" size="20" class="form" /></span>
</div>
<div class="row">
	<span class="label">Email</span> 
	<span class="formw"><input type="text" name="StudentEmail" value="[email]" size="30" class="form" /></span>
</div>
<div class="row">
	<span class="formw"><input type="submit" value="Submit" class="submit" /></span>
</div>
<div class="spacer">
&nbsp;
</div>
</form> 
</fieldset>